// colour variables

// Escala Primária
$orange-dark: rgb(255, 80,15);
$orange-light: rgb(255,135,0);

// Escala Secundária
$orange-light-alt: rgb(251,186,0);
$yellow: rgb(252,238,33);
$green: rgb(217, 224, 33);

// Escala de Apoio
$cinza-medium: rgb(242,242,242);
$cinza-light: rgb(157,157,157);

// Text
$textos: rgba(0,0,0,0.72);

// font variables
$font-base: 'Gotham';
